body {
  margin: 0;
  background-color: rgba(120, 192, 145, 0.11);
}
.main {
  background-color: white;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 740px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding-right: 20px;
  color: rgba(43, 29, 29, 1);
  font-weight: bold;
  font-family: "Sarabun";
  font-size: 20px;
}
li a:hover {
  border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
a {
  text-decoration: none;
  color: rgba(144, 55, 55, 1);
}
.contents {
  margin-top: 50px;
  margin-left: 250px;
}

#myProgress {
  width: 20%;
  height: 16px;
  background-color: rgba(145, 151, 139, 1);
  margin-top: 20px;
}

#myBar {
  width: 60%;
  height: 15px;
  background-color: rgba(219, 64, 16, 1);
}
.html {
  display: flex;
}
.html,
p {
  margin-right: 25px;
}
#myProgress-css {
  width: 20%;
  height: 16px;
  background-color: rgba(145, 151, 139, 1);
  margin-top: 20px;
}

#myBar-css {
  width: 70%;
  height: 15px;
  background-color: rgba(219, 64, 16, 1);
}
.css {
  display: flex;
}
.html,
p {
  margin-right: 50px;
}
#myProgress-js {
  width: 20%;
  height: 16px;
  background-color: rgba(145, 151, 139, 1);
  margin-top: 20px;
}

#myBar-js {
  width: 45%;
  height: 15px;
  background-color: rgba(219, 64, 16, 1);
}
.js {
  display: flex;
}
.html,
p {
  margin-right: 50px;
}

h3 {
  color: rgb(87, 47, 47);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 200px;
}
p {
  color: rgba(118, 114, 114, 0.85);
  font-family: "Tajawal";
  font-weight: bold;
  margin-left: 200px;
  margin-bottom: 50px;
}
span,
#signin-link {
  color: rgba(2, 151, 198, 1);
  text-decoration: underline;
}
#heading {
  margin-left: 330px;
  margin-top: 100px;
  font-size: 50px;
  color: rgba(86, 54, 53, 1);
  font-family: "Ubuntu Mono";
}
#cp {
  color: rgba(118, 114, 114, 0.85);
  font-family: "Sarabun";
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}
footer {
  margin-top: 130px;
  display: flex;
}
