body {
  margin: 0;
  background-color: rgba(120, 192, 145, 0.11);
}
.main {
  background-color: white;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 580px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding-right: 20px;
  color: rgba(43, 29, 29, 1);
  font-weight: bold;
  font-family: "Sarabun";
  font-size: 20px;
}
li a:hover {
  border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
a {
  text-decoration: none;
  color: rgba(144, 55, 55, 1);
}
.contents {
  display: flex;
  margin-top: 50px;
  margin-left: 250px;
}
.profile {
  margin-left: 150px;
  margin-top: 10px;
}
img {
  border-radius: 30px;
  width: 350px;
  height: 350px;
  border-radius: 30px;
}
p {
  color: rgba(144, 55, 55, 1);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 15px;
}
p,
span {
  font-family: "Roboto";
  font-size: 25px;
  margin-top: 120px;
  word-spacing: 5px;
  margin-right: 50px;
}
#name {
  color: rgba(43, 29, 29, 1);
}
button {
  background-color: rgba(190, 97, 97, 1);
  border: none;
  border-radius: 20px;
  color: color;
  font-family: "Times New Roman", Times, serif;
  height: 35px;
  width: 90px;
}
#cp {
  color: rgba(118, 114, 114, 0.85);
  font-family: "Sarabun";
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 60px;
}
footer {
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
}
.description {
  margin-top: 35px;
}

@media only screen and (max-width: 1075px) {
  nav {
    margin-right: 100px;
  }
  .profile {
    margin-right: 100px;
    margin-top: 80px;
  }
  img {
    border-radius: 30px;
    width: 250px;
    height: 250px;
    border-radius: 30px;
  }
  .profile {
    margin-left: 80px;
  }
  p,
  span {
    font-size: 20px;
    margin-top: 120px;
    word-spacing: 5px;
  }
}

@media only screen and (max-width: 1015px) {
  p,
  span {
    font-size: 15px;
    margin-top: 120px;
    margin-right: 20px;
  }
  .profile {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 985px) {
  p,
  span {
    font-size: 15px;
  }
  .profile {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 965px) {
  p,
  span {
    font-size: 15px;
  }
  .profile {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1021px) {
  p,
  span {
    font-size: 15px;
  }
  .profile {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 917px) {
  p,
  span {
    font-size: 15px;
  }
  .profile {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1013px) {
  p,
  span {
    font-size: 15px;
  }
  .profile {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 955px) {
  p,
  span {
    font-size: 15px;
  }
  .profile {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 865px) {
  p,
  span {
    font-size: 15px;
    margin-right: 5px;
  }
  img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 745px) {
  p,
  span {
    font-size: 10px;
    word-spacing: normal;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .profile {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 681px) {
  p,
  span {
    font-size: 5px;
    word-spacing: normal;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .profile {
    margin-left: 50px;
  }
  .contents {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 679px) {
  p,
  span {
    font-size: 10px;
    word-spacing: normal;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .profile {
    margin-left: 50px;
  }
  .contents {
    margin-left: 100px;
  }
  #cp {
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 60px;
  }
}

@media only screen and (max-width: 555px) {
  nav {
    margin-left: 150px;
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  footer {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 499xpx) {
  nav {
    margin-right: 50px;
  }
  li {
    font-size: 5px;
  }
}
