body {
  margin: 0;
  background-color: rgba(120, 192, 145, 0.11);
}
.main {
  background-color: white;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 740px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding-right: 20px;
  color: rgba(43, 29, 29, 1);
  font-weight: bold;
  font-family: "Sarabun";
  font-size: 20px;
}
li a:hover {
  border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
a {
  text-decoration: none;
  color: rgba(144, 55, 55, 1);
}
.contents {
  display: flex;
  margin-top: 50px;
  margin-left: 250px;
}
.profile {
  margin-left: 230px;
  margin-top: 80px;
}
img {
  border-radius: 30px;
}
p {
  color: rgba(144, 55, 55, 1);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}
p,
span {
  font-family: "Roboto";
  font-size: 40px;
  margin-top: 100px;
  word-spacing: 10px;
}
#name {
  color: rgba(43, 29, 29, 1);
}
button {
  background-color: rgba(190, 97, 97, 1);
  border: none;
  border-radius: 20px;
  color: color;
  font-family: "Times New Roman", Times, serif;
  height: 35px;
  width: 90px;
}
#cp {
  color: rgba(118, 114, 114, 0.85);
  font-family: "Sarabun";
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 60px;
}
footer {
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
}
.description {
  margin-top: 120px;
  margin-left: 5px;
}
