body {
  margin: 0;
  background-color: rgba(120, 192, 145, 0.14);
}
nav,
ul {
  list-style-type: none;
  display: flex;
  margin-left: 475px;
}
li {
  padding-right: 30px;
  color: rgba(144, 55, 55, 1);
  font-size: 15px;
  font-weight: bold;
  font-style: tahoma;
}
.elipse {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 150.03px;
  top: 104px;
  margin-right: 1000px;
  display: flex;
  justify-content: space-between;
  background: rgba(186, 153, 68, 0.06);
  border-radius: 50%;
}
.form {
  background-color: rgba(190, 157, 157, 0.2);
  margin-left: 400px;
  width: 300px;
  height: 430px;
  padding-left: 150px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 20px;
}
.form,
label {
  color: rgba(86, 54, 53, 1);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
input {
  border: 1px solid rgba(43, 29, 29, 1);
  border-radius: 8px;
  height: 20px;
  width: 200px;
}
h3 {
  font-size: 30px;
}
p {
  padding-top: 10px;
  font-size: 15px;
  padding-right: 40px;
}
.form-class {
  padding-top: 40px;
}
.container {
  background-color: rgba(120, 192, 145, 0.14);
  width: 1250px;
  height: 510px;
  margin-left: 60px;
  align-items: center;
  margin-top: 10px;
  border-radius: 30px;
}
button {
  border: none;
  border-radius: 40px;
  height: 30px;
  width: 80px;
  background: rgba(0, 0, 0, 0.44);
  color: white;
  font-weight: bold;
  font-size: 15px;
}
span {
  text-decoration: underline 4px solid #c66666;
}
footer {
  color: rgba(0, 0, 0, 1);
  padding-left: 1115px;
}
#ft {
  font-size: 20px;
  font-style: Sarabun;
  font-weight: bold;
}
a {
  color: #c66666;
}

.alert {
  text-align: center;
  padding: 5px;
  background-color: #79c879;
  color: #fff;
  margin-bottom: 5px;
  padding-top: 2px;
  height: 30px;
  display: none;
}
H4 {
  margin-bottom: 5px;
  font-size: 15px;
}

.name_error,
.email_error,
.phone_error,
.password_error,
.namempty_error {
  color: #c62828;
  background-color: rgba(255, 0, 0, 0.1);
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
}

@media (max-width: 1343px) {
  .container {
    width: 1000px;
    height: 450px;
    margin-left: 60px;
    align-items: center;
    margin-top: 10px;
    border-radius: 30px;
  }
  nav,
  ul {
    margin-left: 350px;
  }
  footer {
    padding-left: 900px;
  }
}
@media (max-width: 1213px) {
  .container {
    width: 950px;
    height: 450px;
    margin-left: 60px;
    align-items: center;
    margin-top: 10px;
    border-radius: 30px;
  }
  nav,
  ul {
    margin-left: 320px;
  }
  footer {
    padding-left: 850px;
  }
  .form {
    margin-left: 310px;
    width: 300px;
    height: 380px;
    padding-left: 120px;
    padding-right: 20px;
    padding-top: 5px;
  }
}
@media (max-width: 1153px) {
  .container {
    width: 850px;
    height: 450px;
    margin-left: 90px;
    align-items: center;
    margin-top: 10px;
    border-radius: 30px;
  }
  nav,
  ul {
    margin-left: 290px;
  }
  footer {
    padding-left: 780px;
  }
  .form {
    margin-left: 220px;
    width: 250px;
    height: 380px;
    padding-left: 120px;
    padding-right: 80px;
    padding-top: 5px;
    margin-right: 50px;
  }
  p {
    padding-top: 20px;
    font-size: 14px;
    padding-right: 40px;
  }
}
@media (max-width: 1075px) {
  .container {
    width: 800px;
    margin-top: 10px;
    border-radius: 30px;
  }
  nav,
  ul {
    margin-left: 260px;
  }
  footer {
    padding-left: 720px;
  }
  .form {
    margin-left: 220px;
    width: 250px;
    height: 380px;
    padding-left: 120px;
    padding-right: 80px;
    padding-top: 5px;
    margin-right: 50px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    padding-top: 5px;
    font-size: 14px;
    padding-right: 40px;
  }
}
@media (max-width: 1027px) {
  .container {
    width: 800px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 250px;
  }
  footer {
    padding-left: 680px;
  }
  .form {
    margin-left: 220px;
    width: 250px;
    height: 380px;
    padding-left: 120px;
    padding-right: 80px;
    padding-top: 5px;
    margin-right: 50px;
  }
  p {
    padding-top: 10px;
    font-size: 14px;
    padding-right: 40px;
  }
}
@media (max-width: 987px) {
  .container {
    width: 750px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 220px;
  }
  footer {
    padding-left: 630px;
  }
  .form {
    margin-left: 200px;
    width: 250px;
    height: 380px;
    padding-left: 120px;
    padding-right: 80px;
    padding-top: 5px;
    margin-right: 50px;
  }
  p {
    padding-top: 5px;
    font-size: 14px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
  }
}
@media (max-width: 907px) {
  .container {
    width: 700px;
    margin-left: 60px;
  }
  nav,
  ul {
    margin-left: 170px;
  }
  footer {
    padding-left: 530px;
  }
  .form {
    margin-left: 200px;
    width: 200px;
  }
  p {
    padding-top: 20px;
    font-size: 10px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
  }
}
@media (max-width: 895px) {
  .container {
    width: 630px;
    margin-left: 60px;
  }
  nav,
  ul {
    margin-left: 170px;
  }
  footer {
    padding-left: 530px;
  }
  .form {
    margin-left: 200px;
    width: 150px;
    padding-left: 20px;
  }
  button {
    height: 20px;
    width: 70px;
    font-size: 13px;
  }

  p {
    padding-top: 5px;
    font-size: 10px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
  }
}
@media (max-width: 807px) {
  .container {
    width: 630px;
    margin-left: 60px;
  }
  nav,
  ul {
    margin-left: 170px;
  }
  footer {
    padding-left: 530px;
  }
  .form {
    margin-left: 200px;
    width: 150px;
    padding-left: 20px;
  }
  button {
    height: 20px;
    width: 70px;
    font-size: 13px;
  }
  input {
    height: 15px;
    width: 150px;
  }
  p {
    padding-top: 1px;
    font-size: 10px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
  }
}
@media (max-width: 796px) {
  .container {
    width: 550px;
    margin-left: 60px;
  }
  nav,
  ul {
    margin-left: 120px;
  }
  footer {
    padding-left: 430px;
  }
  .form {
    margin-left: 200px;
    width: 150px;
    padding-left: 20px;
  }
  p {
    padding-top: 20px;
    font-size: 15px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
  }
}
@media (max-width: 699px) {
  .container {
    width: 500px;
    margin-left: 60px;
  }
  nav,
  ul {
    margin-left: 100px;
  }
  footer {
    padding-left: 390px;
  }
  .form {
    margin-left: 150px;
    width: 120px;
    padding-left: 20px;
  }
  input {
    width: 150px;
  }
  p {
    padding-top: 20px;
    font-size: 10px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 627px) {
  .container {
    width: 450px;
    margin-left: 60px;
  }
  nav,
  ul {
    margin-left: 75px;
  }
  footer {
    padding-left: 340px;
  }
  .form {
    margin-left: 150px;
    width: 120px;
    padding-left: 20px;
  }
  input {
    width: 150px;
  }
  p {
    padding-top: 20px;
    font-size: 10px;
    padding-right: 40px;
  }
  .elipse {
    left: 105px;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 603px) {
  .container {
    width: 400px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 50px;
  }
  footer {
    padding-left: 250px;
  }
  .form {
    margin-left: 80px;
    width: 150px;
    margin-right: 80px;
  }
  input {
    width: 150px;
  }
  p {
    padding-top: 20px;
    font-size: 15px;
    padding-right: 20px;
  }
  .elipse {
    left: 60px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 545px) {
  .container {
    width: 350px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 20px;
  }
  footer {
    padding-left: 210px;
  }
  .form {
    margin-left: 80px;
    width: 100px;
    margin-right: 80px;
  }
  input {
    width: 120px;
  }
  p {
    padding-top: 5px;
    font-size: 10px;
    padding-right: 20px;
  }
  .elipse {
    left: 60px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 487px) {
  .container {
    width: 300px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 5px;
  }
  h3 {
    font-size: 10px;
    font-weight: 900;
  }

  footer {
    padding-left: 180px;
  }

  .form {
    margin-left: 80px;
    width: 50px;
    margin-right: 50px;
  }
  input {
    width: 100px;
  }
  p {
    padding-top: 5px;
    font-size: 10px;
    padding-right: 20px;
  }
  .elipse {
    left: 60px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 477px) {
  .container {
    width: 300px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 5px;
  }
  footer {
    padding-left: 180px;
  }

  .form {
    margin-left: 80px;
    width: 50px;
    margin-right: 50px;
  }
  input {
    width: 100px;
  }
  p {
    padding-top: 5px;
    font-size: 10px;
    padding-right: 20px;
  }
  .elipse {
    left: 60px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 447px) {
  .container {
    width: 300px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 5px;
  }
  footer {
    padding-left: 180px;
  }

  .form {
    margin-left: 80px;
    width: 50px;
    margin-right: 50px;
  }
  input {
    width: 100px;
  }
  p {
    padding-top: 5px;
    font-size: 10px;
    padding-right: 20px;
  }
  .elipse {
    left: 60px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 429px) {
  .container {
    width: 250px;
    margin-left: 50px;
  }
  nav,
  ul {
    margin-left: 0px;
  }
  li {
    padding-right: 15px;
  }
  footer {
    padding-left: 100px;
  }

  .form {
    margin-left: 50px;
    width: 50px;
    height: 390px;
    margin-right: 50px;
  }
  input {
    width: 80px;
  }
  p {
    padding-top: 5px;
    font-size: 8px;
    padding-right: 20px;
  }
  .elipse {
    left: 60px;
    width: 50px;
    height: 50px;
  }
  button {
    height: 20px;
    width: 50px;
    font-size: 10px;
  }
}
@media (max-width: 365px) {
  .elipse {
    left: 60px;
    width: 35px;
    height: 35px;
  }
  footer {
    padding-left: 100px;
  }
}

@media (max-width: 261px) {
  #ft {
    font-size: 10px;
  }
}
